.custom-navbar {
    background-color: #005897;
}

.textProps {
    color: white;
    font-size: 18px;
}

.userInfo_parent {
    margin-left: 27%;
}

.UserInfo {
    margin-left: 10%;
}

.left-right {
    padding: 10px, 0px, 10px, 0px;
}